body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 425px;
    min-height: 425px;
}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid;
}
button{
    background-color: #5f9341;
    margin-top: 4px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    font-size: medium;
    border:none;
    border: 1px solid #5f9341;
}
ul{
    list-style:none;
    font-size: 20px;
    padding-left: 0px;
    color:#5f9341;
}
li{
    margin-top: 10px;

}
li a{
    color:#5f9341;

}
#delete_el{
    background-color: white;
    color: #5f9341;
}