button{
    font-size: xx-large;
    color: white;
    background: #505050;
    padding-left: 100px;
    padding-right: 100px;
    cursor: pointer;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 5px;
    margin-right: 5px;
    border : 7px;
    border-style: solid;
    border-color: black;
}
body{
    background: #1c1c1c;
}
#mul,#sub,#add,#div,#equal{
    background: #ff9500;
}
#b0{
    width: 220px;
    border-radius: 50px;
}
#clear,#percen,#pm,#clr{
    background: #d4d4d2;
}
p{
    font-size: 50px;
    color: white;
}